.back{
  background-image: url("https://images.hdqwalls.com/wallpapers/thumb/emilia-clarke-dolce-gabbana-2023-4k-nc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  /* min-width: 100vw; */
}